<h1 align="center">Tienda Online de Libros y Artículos Escolares</h1>
<ul>
	<li><%= link_to 'Productos', products_path%></li>
	<li><%= link_to 'Libros', books_path%></li>
	<li>Carro de Compras</li>
	<li>Ingresar</li>
</ul>
<%= link_to "Registrarse", new_user_path%>
