<h1 align="center">Nuevo Libro</h1>
<div class="container col-md-4 col-md-offset-4">
  <%= bootstrap_form_for(@book) do |f| %>
  <div class="field">
		<%= f.number_field :barcode, label: "Código" %>
	</div>
  <% end %>
  <%= render 'form' %>

  <%= link_to 'Volver', books_path %>
</div>
