<h1 align="center">Nuevo Producto</h1>
<div class="container col-md-4 col-md-offset-4">
  <%= bootstrap_form_for(@product) do |f| %>
	  <div class="field">
	    <%= f.number_field :barcode, label: "Código" %>
	  </div>
	<% end %>
<%= render 'form' %>

<%= link_to 'Volver', products_path %>
</div>
