<tbody>
  <% total_a単o = 0 %>
  <% @products.each do |p| %>
    <tr>
      <td><%= p.barcode %></td>
      <% total_prod = 0 %>
      <% 1.upto(12) do |i| %>
        <td><%= moneda(mes=calc_purchases(p.barcode,params[:date]['year'],i)) %></td>
        <% total_prod += mes %>
      <% end %>
      <td><%= moneda(total_prod) %></td>
      <% total_a単o += total_prod %>
    </tr>
  <% end %>
  <tr>
    <% 13.times do %><td></td><% end %>
    <td><b><%= moneda(total_a単o) %></b></td>
  </tr>
  <% @total += total_a単o %>
</tbody>
